.header-link {
  position: relative;
  width: 100%;
  padding-bottom: 15px;
}

.link-btn {
  all: unset;
  cursor: pointer;
  color: var(--blue-primary);
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
  position: relative;
}

.header-link::after {
  content: '';
  position: fixed;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--grey-primary);
  pointer-events: none;
}
