.topics-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topics-list-wrapper {
  max-height: 65vh;
  overflow-y: auto;
  padding-right: 10px;
}

.topics-list-wrapper::-webkit-scrollbar {
  width: 6px;
}

.topics-list-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--grey-primary);
  border-radius: 4px;
}

.topics-list-wrapper::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
}

.topic-item {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  justify-content: space-between;
  padding: 10px 0;
  overflow: hidden;
  border-radius: 5px;
  border-bottom: 1px solid var(--grey-primary);
}

.topic-item:hover .delete-btn {
  visibility: visible;
  opacity: 1;
}

.topic-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: white;
}

.delete-btn {
  position: absolute;
  right: -100px;
  top: 0;
  bottom: 0;
  width: 100px;
  background: var(--red-primary);
  color: white;
  font-size: 24px;
  font-weight: 600;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: right 0.3s ease;
  z-index: 10;
}

.topic-item.sliding .delete-btn {
  right: 0;
}

.delete-btn.visible {
  right: 0;
}

.search-container {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 15px 15px 15px 30px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--bg-secondary);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.microphone-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
